<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>&#129365; Podcasts <3 - /\ \/ /\ \/ /\ \/</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="timer">
    <div id="controls">
        <button type="button" id="previous">⏮</button>
        <button type="button" id="play">▶️️</button>
        <button type="button" id="next">⏭</button>
    </div>
    <div id="time"></div>
</div>
<div id="feeds">
    {{range .Categories}}
    <div class="feed">
        <div class="title">
		    <span>
			    <h1>{{.Title}}</h1>
		    </span>
        </div>
        <ul>
            {{range .Podcasts}}<li><a href="{{.Link}}">{{.Title}}</a></li>{{end}}
        </ul>
    </div>
    {{end}}
</div>
<script type="application/javascript" src="./app.js"></script>
</body>
</html>
